* { 
    box-sizing: border-box; 
    font-family: sans-serif; 
}
html {
    padding: 0;
    margin: 0;
}
body {          
    background-color: white;
    color: black;
    font-size: 1.2rem;              
    height: 100vh;
    padding: 1px;
}
header {
    text-align: center;
    margin-bottom: 1em;
    border-bottom: 1px solid white;
    padding-bottom: 1em;
}
header p {
    font-size: 1rem;
    font-style: italic;
    margin: 0px;
}
h1 {
    margin-bottom: .25rem;
}  
footer {
    padding: 2em;
    font-size: .75em;
    text-align: center;
}
nav {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    margin: 0 1em;
}
nav li {
    padding: .5em;
    margin: 0;
}
nav a {
    color: black;
    text-decoration: none;
}
#content {
    position: relative;
}
#content > div {
    display: none;
    width: 100%;
}
#content .open {
    display: block;
}
#catalogResults {
	min-height: 50vh;
}
#catalogResults > div {
    border: 1px solid lightgray;
    margin: .5em auto;
    padding: 1em;
}
#catalogResults table {
    width: 100%;
}
#catalogResults th {
    text-align: left;
}
.flex {
    display: flex;
    flex-direction: column;
}
.container {
    width: 90vw;
    max-width: 1000px;
    margin: 0 auto;
}
.content {
    flex-grow: 2;
    padding: 1rem;
}
#addRecord p {
    margin: .15em;
}
#addRecord label {
    margin: 1em 0;
    display: block;
}
.active {
    font-weight: bold;
}
#add > div {
    display: flex;
}
#add > div > * {
    width: 50%;
}
#addRecord input, 
#addRecord select {
	width: 100%;
	max-width: 300px;
}
#catalogPagination {
	margin-bottom: 1em;
    display: flex;
    align-items: center;
}
#pages {
    margin: 0 1em;    
}
#pages a {
	color: #ccc;
	text-decoration: none;
	padding: 0 .25em;
}
#pages a.current-page {
    font-weight: bold;
    color: #000;
}
.page-arrow {
	border: 1px solid #666;
	border-radius: 10px;
	width: 40px;
	height: 40px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
    cursor: pointer;
    background: #fff;
}
.page-arrow:hover {
    background: #ddd;
}
#artistList {
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
}